<!-- <form name=search ng-submit="blanklogin(blankuser)">
  <input type="text" placeholder="Search for PO#" ng-model="in_production.po_num">
  <button type="submit" name="button">Search</button>
</form>
<br>
<button type="button" ng-click="logout()">Logout</button> -->


<input type="number"  placeholder="Find PO#" class="input-field input-po-position" ng-model="poNumber"/>
<button type="button" ng-click="findpo(poNumber)">Find</button>
<br>
FOUND: {{poInfo[0].po_num}}
<br>
{{poInfo[0].employee_id}}
{{poInfo[0].checkpoint_id}}

<br>
<br>
