<div class="cat" style="background-color: $blue;">
  <header-directive></header-directive>
  <section class="center-container">

<div class="butt admin-accordion">Find PO</div>
<div class="panel1">
  <input type="text"  placeholder="Find PO#" class="input-field input-po-position" ng-model="poNumber"/>
  <button type="button" class="button" ng-click="findpo(poNumber); showModal=!showModal">Find<i class="material-icons" style="font-size:32px;">search</i></button>
</div>

<div class="butt admin-accordion">Make New User</div>
<!-- <div class="panel2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->


<div class="butt admin-accordion">Edit User</div>
<div class="panel2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="butt admin-accordion" style="border-bottom: 1px solid #616161;">Delete PO</div>
<div class="panel2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>
</section>

<!-- cat div -->
</div>
