<div class="all">
  <main class="background">
    <div class="overlay">
      <header class="login">
          <input type="email" placeholder="Email" class="header-input" ng-model="user.email">
          <input type="password" placeholder="Password" class="header-input" ng-model="user.password">
          <input type="submit" value="Login" class="header-button" ng-click="login(user)">
      </header>
<!-- =================== LEFT ===================-->
      <section id="horizontal">
        <div class="container">
          <div class="block-left">
            <div class="title-logo-box">
              <div class="title">Order Hound</div>
                <div class="logo"></div>
                  <div class="description-box">
                    <div class="description">
                      Easily find orders in your production line.
                    </div>
                  </div>
            </div>
          </div>
        <!-- </div> -->
  <!-- ================== DIVIDER ==================-->
          <div class="divider-block"></div>
  <!-- =================== RIGHT ===================-->
        <!-- <div class="container"> -->
          <div class="block-right">
            <div class="right-title";>Register your business</div>
              <form ng-submit="register(newUser)">
                <input type="text" placeholder="Company name" ng-model="newUser.company" required/>
                <br>
                <input type="text" placeholder="Admin name" ng-model="newUser.name" required/>
                <br>
                <input type="email" placeholder="Admin email" ng-model="newUser.email" required/>
                <br>
                <input type="password" placeholder="New password" ng-model="newUser.password" required/>
                <br>
                <input type="text" placeholder="Profile photo URL (optional)" ng-model="newUser.photo">
                <br>
                <button type="submit" name="button">Create Account</button>
              </form>
          </div>
        <!-- </div> -->

      </section>
      <a href="#goto">Jump</a>

  <!-- ======================================================================================================-->
<h2 id="goto">Header</h2>
  <!-- ======================================================================================================-->

      <section id="vertical">
        <!-- =================== LEFT ===================-->

              <div class="container">
                <div class="block-left">
                  <div class="title-logo-box">
                    <div class="title">Order Hound</div>
                      <div class="logo"></div>
                        <div class="description-box">
                          <div class="description">
                            Easily find orders in your production line.
                          </div>
                        </div>
                  </div>
                </div>
                <div class="login-vert">
                  <input type="email" placeholder="Email" ng-model="user.email">
                  <input type="password" placeholder="Password" ng-model="user.password">
                  <input type="submit" value="Login" class="header-button" ng-click="login(user)">
                </div>
              </div>
              <div class="bottom-links-vert">Register
                <br>
                <i class="material-icons">arrow_drop_down_circle</i>
              </div>

        <!-- =================== RIGHT ===================-->
              <div class="container2">

                <div class="block-right">
                  <div class="right-title">Register your business</div>
                    <form ng-submit="register(newUser)">
                      <input type="text" placeholder="Company name" ng-model="newUser.company" required/>
                      <br>
                      <input type="text" placeholder="Admin name" ng-model="newUser.name" required/>
                      <br>
                      <input type="email" placeholder="Admin email" ng-model="newUser.email" required/>
                      <br>
                      <input type="password" placeholder="New password" ng-model="newUser.password" required/>
                      <br>
                      <input type="text" placeholder="Profile photo URL (optional)" ng-model="newUser.photo">
                      <br>
                      <button type="submit" name="button">Create Account</button>
                    </form>
                </div>
              </div>
      </section>




    </div>
  </main>
</div>
