<div class="center-of-manageUsers">
  <header-directive></header-directive>

    <div class="make-user-title">Make New User</div>
    <section class="ifield-container">
      <div class="make-user-container">
        <br><input id="input-margins" type="text" placeholder="User Name" ng-model="obj.name" required/>
        <!-- (remember to remove unique contraint on table just for users, not for admins) -->
        <br><input id="input-margins" type="email" placeholder="Email" ng-model="obj.email" required/>
        <br><input id="input-margins" type="text" placeholder="Company" ng-model="obj.company" required/>
      </div>
      <div class="make-user-container">
        <br><input id="input-margins" type="password" placeholder="Password" ng-model="obj.password" required/>
        <br><input id="input-margins" type="text" placeholder="Checkpoint" ng-model="obj.checkpoint" required/>
        <br><input id="input-margins" type="text" placeholder="User Photo URL (optional)" ng-model="obj.photo">
        <br>
        <div class="checkbox-div">Make Admin: <input class="checkbox-position" type="checkbox" ng-model="obj.admin"/></div>
      </div>
    </section>
    <br>
    <a href="/" type="button" ng-click="getter(obj)">Make User</a>
    </form>
    <br>
    <br>

</div>
