<h1>Make New User</h1>

  user name: <input type="text" ng-model="obj.name" required/>
  <br>
  company: <input type="text" ng-model="obj.company" required/> (remember to remove unique contraint on table just for users, not for admins)
  <br>
  email: <input type="email" ng-model="obj.email" required/>
  <br>
  password: <input type="password" ng-model="obj.password" required/>
  <br>
  checkpoint: <input type="text" ng-model="obj.checkpoint" required/>
  <br>
  photo: <input type="text" ng-model="obj.photo">
  <br>
  Make Admin: <input type="checkbox" ng-model="obj.admin"/>
  <br>
  <a href="/" type="button" ng-click="getter(obj)">Make User</a>
</form>
<br>
<br>
