* {
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  #header {
    position: fixed;
    top: 0;
    left: 0;
    @include wxh(100vw, 100px);
    background-color: $green;
    display: flex;
    flex-direction: column;
  }

  .welcome {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 75px;
    font-family: $font;
    font-size: 20px;
    color: $off-white;
    // background-color: orangered;
    margin-left: 100px;
  }

  .user-photo {
    display: inline-block;
    width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
    overflow: hidden;
  }

  .user-photo img {
    max-width: 100%;
  }

  .checkpoint {
    width: 300px;
    position: relative;
    font-family: $font;
    font-size: 20px;
    color: $off-white;
    background-color: $blue;
    text-align: center;
  }
    /////////////////////////// LAYOUT ///////////////////////////
  .container {
    display: flex;
    flex-display: column;
  }

  .break {
    @include flex(center, center);
    color: $off-white;
    font-family: $font;
    font-size: 15px;
    margin-left: 100px;
  }

  .logout {
    position:absolute;
    @include flex(center, center);
    height: 100px;
    width:200px;
    background-color: black;
    right: 0;
  }

  .logout-button {
    @include wxh(80px, 35px);
    @include button-maker($blue, #fff);
    position: absolute;
    right: 100px;
    top: 32px;
    padding-bottom: 4px;
  }

  .logout-button:hover {
    background-color: $lightblue;
  }

  .logout-button:focus {
    outline: 0;
  }

  .center-of-everything {
    height: 100vh;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /////////////////////////// MEDIA QUERIES ///////////////////////////
    @media (max-width: 935px) {
      #iphone-header {
        display:none;
      }
      .welcome {
        margin-left: 25px;
      }
      .break {
        margin-left: 25px;
      }
      .logout-button {
        right: 25px;
      }
    }
  // //***************************************
    @media (max-width: 630px) {
      #header {
        display:none;
      }
      #iphone-header {
        position: fixed;
        top: 0;
        left: 0;
        @include wxh(100vw, 100px);
        background-color: $green;
        display: flex;
        flex-direction: column;
      }
      .user-photo {
        width: 80px;
        max-height: 80px;
        margin: 10px 30px;
      }
    }

}
