.dog {
  width: 500px;
  height: 500px;
  background-color: black;
}


.header {
    position: absolute;
    @include wxh(100vw, 110px);
    @include flex(space-between, center);
    color: $off-white;
    background-color: $green;
  }

  .user-photo {
    position: absolute;
    @include wxh(80px, 80px);
    border-radius: 50px;
  }

  .welcome {
    position: absolute;
    font-family: $font;
    font-size: 20px;
    width: 300px;
    height: 100px;
    background-color: black;
  }


// .bunny {
//   position: absolute;
//   width: 500px;
//   height: 500px;
//   color: red;
//   background-color: black;
// }
