* {
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .center-container {
    position: relative;
    @include flex(center, flex-start);
    @include wxh(500px, 138px);
    flex-direction: column;
    background-color: slateblue;
  }

  .title {
    font-family: $font;
    font-size: 50px;
    color: $off-white;
    line-height: 40px;
  }

  .bottom-line {
    @include wxh(250px, 50px);
    border-bottom: 2px solid $off-white;
    margin-bottom: 15px;
  }

  .input-container {
    @include flex(center, center);
    @include wxh(500px, 53px);
    // background-color: tomato;
    margin-bottom: 20px;
  }

  input {
    @include input();
    margin-top: 0;
  }

  .button {
    @include flex(space-around, center);
    padding: 0 15px;
    width: 130px;
    @include button-maker($green, $off-white);
    font-size: 20px;
    float: left;

  }
  .button:hover {
    background-color: $light-green;
  }

  .button:focus {
    outline: 0;
  }
/////////////////////////// ACCORDION ///////////////////////////
  button.accordion {
    color: $dark-grey ;
    background-color: transparent;
    cursor: pointer;
    width: 250px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 50px;
    transition: 0.2s;
    @include wxh(250px, 50px);
    border-bottom: 2px solid $off-white;
    margin-bottom: 15px;
    line-height: 48px;
  }

  button.accordion.active, button.accordion:hover {
    color: $green;
  }

  .panel {
    background-color: #1EB11E;;
    max-height: 0;
    overflow: hidden;
    display: inline-flex;
    transition: max-height 0.2s ease-out;
  }


}
