.all {
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  .overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .65);
    // @include flex(center, center);
  }
  .background {
    background-color: $off-black;
    position: absolute;
    width: 100vw;
    // height: 100%;
    @include image('../../../images/login.jpg');
  }
  /////////////////////////// LOGIN ///////////////////////////
  .login {
    position: relative;
    @include flex(flex-start, center);
    width: 550px;
    height: 50px;
    background-color: $green;
    color: $off-white;
    float: right !important;
    padding-left: 5px;
  }

  .header-input {
    @include wxh(200px, 25px);
    font-family: $font;
    font-size: 15px;
    background-color: $off-white;
    color: $off-black;
    border: 0px solid;
    outline: none;
    text-indent: 10px;
    margin: 10px;
  }

  .header-input::-webkit-input-placeholder {
    color: $green !important;
    font-size: 12px;
  }

  .header-input:-moz-placeholder { /* Firefox 18- */
    color: $green !important;
    font-size: 12px;
  }

  .header-input::-moz-placeholder {  /* Firefox 19+ */
    color: $green !important;
    font-size: 12px;
  }

  .header-input:-ms-input-placeholder {
    color: $green !important;
    font-size: 12px;
  }

  .header-button {
    @include wxh(80px, 35px);
    @include button-maker($blue, #fff);
    margin-left: 10px;
    margin-top: 0px;
    text-indent: 0px;
  }

  .header-button:hover {
    background-color: $lightblue;
  }

  /////////////////////////// LEFT ///////////////////////////
  .title {
    font-family: $cursive;
    font-size: 70px;
    text-align: center;
    color: $off-white;
    margin-bottom: 15px;
    // margin-right: 30px;
  }

  .logo {
    @include image('../../../images/logo-off-white.png');
    @include wxh(100px, 58px);
    margin: 30px auto;
  }

  .description {
    @include wxh(100%, auto);
    font-family: $font;
    font-size: 50px;
    color: $off-white;
    width: 92%;
    line-height: 63px;
    margin-top: 15px;
    // margin-right: 32px;
    // background-color: darkseagreen;
  }
  /////////////////////////// RIGHT ///////////////////////////
  .right-title {
    font-family: $font;
    color: $off-white;
    font-size: 30px;
    margin-bottom: 15px;
    // background-color: grey;
  }

  // form {
  //   margin-left: 20px;
  // }

  input {
    @include input();
  }

  button {
    @include wxh(195px, 50px);
    @include button-maker ($green, #fff);
    font-size: 20px;
    margin-top: 25px;
  }

  button:hover {
    background-color: $light-green;
  }

  button:focus {
    outline: 0;
  }

  .bottom-links {
    // position: absolute;
    bottom: 20px;
    font-family: $font;
    font-size: 20px;
    color: $green;
    margin: 0 auto;
    text-align: center;
  }
  /////////////////////////// LAYOUT ///////////////////////////
  .container {
    position: relative;
    @include flex(center, center);
    @include wxh(90%, 90%);
    margin: 0 auto;
    // background-color: darkslateblue;
  }

  .block-left {
    display: inline-block;
    @include wxh(auto, 445px);
    margin-top: 20px;
    // background-color: $gold;
  }

  .block-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include wxh(auto, 445px);
    // margin-top: 20px;
    // background-color: salmon;
  }

  .divider-block {
    display: inline-block;
    @include wxh(440px, 445px);
    width: 160px;
    margin: 30px;
    // background-color: salmon;
  }

  .title-logo-box {
    @include wxh(100%, auto);
    display: inline-block;
    // background: pink;
  }

  .description-box {
    @include wxh(440px, auto);
    @include flex(center, center);
    margin-top: 15px;
    // background-color: orangered;
  }

  // #vertical {
  //   width: 950px;
  //   height: 100vh;
  // }
/////////////////////////// MEDIA QUERIES ///////////////////////////
//RIGHT AND LEFT LAYOUTS
  @media (min-width: 1371px) {
    #horizontal{
      display: inline;
    }
    #vertical {
      display: none;
    }
  }
//***************************************
  @media (max-width: 1370px) {
    #horizontal{
      display: inline;
    }
    #vertical {
      display: none;
    }
    .divider-block {
      width: 100px;
      margin: 20px;
      // background-color: red;
    }
  }
//***************************************
  @media (max-width: 1200px) {
    #horizontal{
      display: inline;
    }
    #vertical{
      display: none;
    }
    .divider-block {
      width: 50px;
      margin: 10px;
    }
  }
//***************************************
  @media (max-width: 950px) {
    #horizontal{
      display: none;
    }
    #vertical {
      display: inline;
    }

    .bottom-links {
      display: none;
    }

    .bottom-links-vert {
      @include wxh(500px, 150px);
      bottom: 75px;
      font-family: $font;
      font-size: 30px;
      color: $green;
      margin: 0 auto;
      text-align: center;
    }

    .bottom-links-vert > i {
      color: $off-white;
      font-size: 40px;
      margin-left: 0;
      margin-top: 20px;
    }

    .container2{
      max-width: 950px;
      height: 100vh;
      background-color: $blue;
      position: relative;
      @include flex(center, center);
      margin: 0 auto;
      // background-color: darkslateblue;
    }

    .divider-block {
      display: none;
    }

    .overlay {
      overflow-x:hidden;
      overflow-y:scroll;
    }



    // .login {
    //
    // }
    // .container {
    //   @include wxh(none, none);
    // }
    //
    // .divider-block {
    //   display: none;
    // }
    //
    // .block-left {
    //   // background-color: green;
    //   @include flex(center, none);
    //   flex-direction: column;
    //   height: auto;
    // }
    //
    // .block-right {
    //   background-color: $blue;
    //   @include flex(center, none);
    //   flex-direction: column;
    //   @include wxh(500px, 540px);
    //   padding-left: 45px;
    // }
    //
    // .background2 {
    //   background-color: $off-black;
    //   width: 100%;
    // }
  }
  //***************************************
    @media (max-width: 550px) {
      #horizontal{
        display: none;
      }
      form {
        margin-left: 0px;
      }
      .login {
        display: none;
      }
      .block-left {
        position: absolute;
        top: 45px;
      }
      .description {
        font-size: 22px;
        text-align: center;
        padding-left: 7px;
      }
      .description-box {
        margin-top: 0px;
      }
      .container {
        @include flex(center, center);
        @include wxh(100vw, 100%);
        margin: 0 auto;
      }
      .block-right {
        background-color: $blue;
        @include flex(center, none);
        flex-direction: column;
        @include wxh(auto, auto);
        padding: 45px;

      }
    }
}
