* {
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background-color: $blue;
  }


  .make-user-title {
    display: flex;
    right: 228px;
    width: auto;
    color: $off-white;
    font-family: $font;
    font-size: 50px;
    border-bottom: 2px solid $off-white;
    // background: salmon;
    margin-bottom: 6px;
    margin-top: 100px;
    line-height: normal;
  }
  .make-user-container {
    display: inline-block;
    font-family: $font;
    font-size: 20px;
    color: $off-white;
    // background-color: teal;
    width: 370px;
    margin: 0px 30px;
  }

  .ifield-container {
    width: auto;
    height: 310px;
    @include flex(center, stretch);
    // background-color: tan;
  }

  #input-margins {
    @include input();
    bottom: 20px;
    margin-top: 20px;
  }

  .checkbox-div {
    // background-color: olive;
    width: 180px;
    height: 40px;
    top: 12px;
    margin-left: 192px;
  }

  .create-user-button {
    @include wxh(195px, 50px);
    @include button-maker ($green, #fff);
    @include flex(center, center);
    font-size: 20px;
    font-family: $font;
    bottom: 30px;
  }

  .create-user-button:hover {
    background-color: $light-green;
  }

  .create-user-button:focus {
    outline: 0;
  }
  .create-user-button2:hover {
    background-color: $light-green;
  }

  .create-user-button2:focus {
    outline: 0;
  }

  .home-button {
    @include wxh(50px, 50px);
    // background-color: black;
    color: $dark-grey;
    font-size: 48px;
    bottom: 65px;
    left: 17px;
  }

  .home-button:hover {
    color:$off-white;
  }

  //***************************************
@media (min-width: 861px){
  .create-user-button2 {
    display: none;
  }
}

  @media (max-width: 860px) {
    .create-user-button2 {
      display: none;
    }
    .make-user-container {
      font-size: 20px;
      width: 270px;
      margin: 0px 15px;
    }
    #input-margins {
      width: 270px;
    }
    .checkbox-div {
      margin-left: 91px;
    }
  }

  @media (max-width: 800px) {
    .create-user-button2 {
      display: none;
    }
    .make-user-title {
      right: 114px;
    }
    .checkbox-div {
      margin-left: 92px;
    }
  }
//*****************************************
  @media (max-width: 600px) {
    .create-user-button {
      display: none;
    }
    .create-user-button2 {
      @include wxh(195px, 50px);
      @include button-maker ($green, #fff);
      @include flex(center, center);
      font-size: 20px;
      font-family: $font;
      margin: 0 auto;
      // bottom: 135px;
      bottom: 62px;
    }
    .make-user-title {
      z-index: 1;
      right: 0px;
      margin-top: 1px;
      margin-bottom: -7px;
      font-size: 40px;
      // bottom: 75px;
      bottom: 13px;
    }
    .make-user-container {
      width: 340px;
      height: 174px;
      top: 60px;
    }
    #input-margins {
      width: 340px;
      margin-top: 5px;
    }
    .ifield-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // bottom: 75px;
      bottom: 54px;
    }
    .checkbox-div {
      margin-left: 168px;
      top: 0px;
      // bottom: 5px;
      bottom: -5px;

    }
  }
}
