// @import url('https://fonts.googleapis.com/css?family=Pacifico');

//FONTS
$cursive: 'Pacifico', cursive;
$font: Tahoma, Arial, sans-serif;

//COLORS
$off-white: #EFE9E9;
$dark-grey: #616161;
$green: #1EB11E;
$blue: #153975;
$lightblue: #244D92;
$gold: #DD9B25;
$red: #DD2525;
