
Welcome, {{user.name}}
<br>
<img src="{{user.photo}}"  alt= "user photo"/><br>
<!-- addPO button -->
<input type="number"  placeholder="PO#" class="input-field input-po-position" ng-model="ponum"/>
<button type="button" ng-click="addpo(ponum)">Add</button>
<br>

<!--matt french session -->
<!-- search for po button -->
<!-- <input type="number"  placeholder="Find PO#" class="input-field input-po-position" ng-model="poNumber"/>
<button type="button" ng-click="findpo(poNumber)">Find</button>
<br>
FOUND: {{poInfo[0].po_num}}
<br>
{{poInfo[0].employee_id}}
{{poInfo[0].checkpoint_id}}

<br>
<br> -->
<search-directive></search-directive>
<button type="button" ng-click="logout()">Logout</button>
